.main-container {
    display: flex;
    justify-content: center;
    /* margin-top: 12rem; */
    flex-direction: column;
    margin: 0 20vh;
  }

.courses-title{
  color: #db5f00;
  font-weight: 500;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  /* margin: -4rem 0 2rem 5rem; */
  margin: 2.5rem auto;
}