.card-item-container{
    width: 480px;
    height: 350px;
    padding: 1rem;
    margin: 2rem;
    transition: all ease 0.25s;
}
.card-item-container:hover{
    transition: all ease 0.25s;
    filter: brightness(1.1);
    transform: scale(1.05);
}

.card-item-img{
    filter: brightness(0.8);
    position: absolute;
    margin: -17px -240px;
    width: 480px;
    height: 350px;
    overflow: hidden;
    object-fit: cover; 
    background-size: cover;
    border-radius: 12px;
}

.card-flag-container{
    min-width: 150px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

.flag-icon{
    width:50px;
    border-radius: 50%;
}

.card-name-container{
  display: flex;
  justify-content: center;

}
.card-info-container{
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.card-item{
    font-weight: bold;
    color: #fff;
}
.name{
    color: #ffffff;
    text-shadow:.2px .2px 18px #fff;
}

.more-info-btn > *{
    border: none;
    border-radius: 5px;
    background-color: #ff6f00f8;
    color: #fff;
    font-weight: 500;
}
.more-info-btn {
    display: flex;
    justify-content:center;
    border-radius: 4px;
    background-color: #ff6f00f8;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    font-size: .95rem;
    padding: 8px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 auto;
    text-decoration: none;
  }
  
  .more-info-btn span  {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .more-info-btn span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -0px;
    transition: 0.5s;
  }
  
  .more-info-btn:hover span {
    padding-right: 25px;
    color: #fff;
  }
  
  .more-info-btn:hover span:after {
    opacity: 1;
    right: 0;
  }

  .more-info-btn:active, .find-out-more-span:active{
    background-color: #565656
  }
  @media (max-width: 768px) {

    .card-item-img{
      filter: brightness(0.8);
      position: absolute;
      margin: -50px -180px;
      width: 360px;
      height: 400px;
      scale: 0.95;
  }
    .courses-title{
      font-size:2.2rem;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 30px 0;
    }

  }