html{
  background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/white_wall_hash.png');
}

.main-container {
    display: flex;
    justify-content: center;
     flex-direction: column;
    margin: 12vh 20vh 8vh;

  }

.courses-title{
  color: #db5f00;
  font-weight: 500;
  font-size: 2.8rem;
  display: flex;
  justify-content: flex-start;
  margin: 2.5rem auto;
}