:root{
    --plain: #ffffff;
    --main-color: #db5f00;
    --secondary-color: #e28743;
    --tertiary-color: #6d9bac;
    --hover-color: #ffa959;
}


.navbar-container{
    position: fixed !important;
    padding-top: 0 !important;
    background-color: var(--main-color) !important;
    max-height: 60px
}
.container{
    min-width: 100%;
    height: inherit !important;
    padding: 2.5px auto !important;
    background-color: var(--main-color) !important;
}
.navbar-expand-lg{
    flex-wrap: wrap !important;
}
.navbar-collapse{
    background-color: var(--main-color) !important;
    margin: 0 -20px;
}

a.nav-link, #basic-nav-dropdown {
    color: var(--plain) !important; 
}
a.nav-link.active{
    color: var(--plain)!important;
}
a.nav-link:hover{
    color: var(--hover-color) !important;
}
a.nav-link:focus{
    color: var(--plain)!important;
}

.dropdown-menu{
    background: #f1f1f1 !important;
    --bs-dropdown-link-hover-bg:  none !important;
    border-top: 1px solid rgb(190, 12, 12);

}
.dropdown-menu.show{
    display: flex !important;
    text-align: center !important;
    padding: 0.5rem 1rem;
}
a.dropdown-item{
    color: #898989 !important;
}
a.dropdown-item:hover{
    background-color: var(#063970) !important;
}
.navbar-brand{
    padding-bottom: 0 !important;
    margin: 0 !important;
}
#navbar-logo {
    margin: 0rem 2rem;
    padding: 0 !important;
    transition: all .2s ease;
    width: 10rem;
    height: 3.15rem;
}
#navbar-logo:hover{
    transition: all .3s ease;
    width: 11.5rem;
    height: 3.51rem;
}

.navbar-toggler{
    border: none !important;
    margin: 1rem 1.5rem !important;
    color: #fff !important;
}

.navbar-toggler-icon{
    filter: opacity(1) drop-shadow(0 0 0 rgb(230, 117, 25)); 
    width: 1.2em !important;
    height: 1.2em !important;
}

.navbar-toggler:focus{
    border: none !important;
}
.cart-widget{
    margin: 2rem;
}
.help-icon {
    width:1.8rem;
    /* margin: 0 1.5rem 0 -1.5rem;*/

    margin: 1.2rem 2.5rem 1.2rem 0rem  ;
}