.footer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap !important;
    box-sizing: border-box;
    background-color: #db5f00;
    width: 100vw;
    border-radius:20px 20px 0px 0px;
    margin: 0 auto;
}

.subscribe-container{
    -webkit-appearance: none;
    width:100%;
    margin: 1.8vh auto 2.4vh auto;
    padding: 0 30px;
}
.footer-sign{
    width:100%;
    padding: 20px 30px;
    color: #fff;
    font-size: .85rem;
    margin: 0 auto;

}
.subscribe-text{
    justify-content: flex-start;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    margin: 0 0 8px 0;
}
.subscribe-input[placeholder="example@email.com"]{
    width: 12rem;
    font-size: .9rem;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 2px 5px;
    position: relative;
    margin-right: 50px;
    outline: none;
}

.sign-heart{
    font-size: .6rem;
}
.subscribe-send-button{
    background-color: #969696;
    position: absolute;
    color: #f2f2f2;
    font-size: .9rem;
    border: none;
    /* height: fit-content; */
    width:50px;
    padding: 2px;
    border-radius: 0 5px 5px 0;
    margin: 0 -20px 0 -50px;

}
.subscribe-send-button:hover{
    background-color: #7e7e7e;
}
.subscribe-send-button:active{
    background-color: #686868;
}
.first-footer-container
.social-media-icons{
    /* color: white !important; */
    width: 500px;
    height: 70px;
    /* background-color: rgb(80, 49, 49); */
}
.social-media-icon{
    font-size:20px;
    color: white !important;
    z-index: 100;
}
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
 body {
	 background-color: rgba(0, 181, 245, 0.05);
}
 .social-icons {
    width: 100%;
    display: flex;
    gap: 3.5rem;
    justify-content: space-evenly;
	padding: 20px 60px 50px 0;
	list-style: none;
	margin: 0 auto;
}
 .social-icons li {
	 margin: 0.15em;
	 position: relative;
	 font-size: 1.2em;
}
 .social-icons i {
	 color: #fff;
	 position: absolute;
	 top: 21px;
	 left: 21px;
	 transition: all 265ms ease-out;
}

 .social-icons a:before {
	 transform: scale(1);
	 -ms-transform: scale(1);
	 -webkit-transform: scale(1);
	 width: 60px;
	 height: 60px;
	 border-radius: 100%;
	 display: block;
	 background: linear-gradient(45deg, #00b5f5, #002a8f);
	 transition: all 265ms ease-out;
}
 .social-icons a:hover:before {
	 transform: scale(0);
	 transition: all 265ms ease-in;
}
 .social-icons a:hover i {
	 transform: scale(1.8);
	 -ms-transform: scale(1.8);
	 -webkit-transform: scale(1.8);
	 color: #f56a00;
	 background: -webkit-linear-gradient(45deg, #b47210, #ec7a08);
     background-clip: text;
	 -webkit-text-fill-color: transparent;
	 transition: all 265ms ease-in;
}

.social-first-row,
.social-second-row,
.social-third-row,
.social-fourth-row {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
 
.first-footer-container{
    min-width:250px;
    display: flex;
}
.second-footer-container{
    min-width:250px;
}
.third-footer-container{
    min-width:250px;
    padding:0 -30px;
    flex-direction: column;
    text-align: center;
    justify-content:center;
}