.blog-container{
    min-height:92.5vh;
    display:flex;
    align-items: flex-start;
    flex-direction:column;
}
.blog-title-container{
    color: #646464;
    width: 85vw;
    margin: 120px auto;
    text-align: start;
    gap: 2rem;
}
.blog-element{
    font-weight: 500;
    font-size: 1.1em;
    margin: 50px auto 75px;
}
.blog-title{
    font-size: 2.5rem;
    margin-bottom: 50px;
}
.blog-list-container{
    margin: 20px auto;
}
.blog-list-item-title{
    font-weight: bold;
    display: block;
}
@media (max-width: 768px) {
    .blog-container{
        margin: 0;
    }
    .blog-title-container{
        margin: 95px auto 50px;
    }
    .blog-element{
        margin: 25px auto 40px;
    }
    
}