.item-detail-container{
    padding-top: 120px;
}
.detail-routes-container {
    display: flex;
    margin: 0 10px 20px 5vw;
    flex-wrap: wrap;

}
.detail-route-link{
    text-decoration: none !important;
    color: black;
    margin: 0 10px;
}
.language-link{
    color: #0075ce;
    border-bottom: 1px solid #0075ce;
}
.checkout-link{
    pointer-events: none;
    color: rgb(183, 182, 182);
}


.item-detail{
    width: 90vw;
    margin: 0 auto 5vh auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 40px;
}

.card-item-img-detail{
    width: 480px;
    height: 350px;
    overflow: hidden;
    object-fit: cover; 
    background-size: cover;
    border-radius: 12px;
}
.left-side-detail-container{
    min-width:40%;

}
.right-side-detail-container{
    min-width: 60%;
}
.right-top-detail-container{
    padding-top:2rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
.flag-icon{
    transform: scale(0.65);
}
.right-bottom-detail-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}